<h2>ToDo List for <%= @user.username %></h2>
<div class="container"
  <div class="row">
    
    <ul>
      <li>You've been a member since <%= time_ago_in_words(@user.created_at) %> ago.</li>
      <li>Your email address on file is:  <b><%= @user.email %></li></b>
    </ul>
  </div>
</div>

<div class="container"
  <div class="row">
    <%= render 'items/form', locals: { user: @user, item: @item } %>
  </div>
</div>
<br>
<div class="container"
  <div class="row">
    <%= render 'items/item' %>
  </div>
</div>
